<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.paprikapp_new">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PaprikApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Paprikapp_new">
        <activity android:name=".email_Send"></activity>
        <activity android:name=".dailyReport" />
        <activity android:name=".addItem" />
        <activity android:name=".see_res" />
        <activity android:name=".table_deneme" />
        <activity android:name=".all_employees" />
        <activity android:name=".forgot_password" />
        <activity android:name=".alcohol" />
        <activity android:name=".drinks" />
        <activity android:name=".manager_menu" />
        <activity android:name=".salad" />
        <activity android:name=".mainCourse" />
        <activity android:name=".appetizer" />
        <activity android:name=".menuItems" />
        <activity android:name=".dessert" />
        <activity android:name=".login_screen" />
        <activity android:name=".employee_menu" />
        <activity android:name=".reservation" />
        <activity android:name=".Order" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>